<h4 class="position-absolute top-0 end-0 me-3 mt-2 text-white">Categories</h4>
<section>
  <div class="container">
    <%= render partial: "category", collection: @categories %>
  </div>
  <%= link_to "Add New Category", new_category_path, class:"btn btn-success rounded-0 w-100 position-fixed bottom-0" %>
</section>