<section>
  <h4 class="bg-success text-center text-white pb-2">Add new category</h4>
  <div class="container-fluid mt-3">
    <%= bootstrap_form_with model: category, url: categories_path(@category) do |f| %>
      <div class="field">
        <%= f.text_field :name, autofocus: true, class:"rounded-0", hide_label: true, placeholder: "Category Name", required: true %>
      </div>

      <div class="field">
        <%= f.text_field :icon, autofocus: true, class:"rounded-0", hide_label: true, placeholder: "Category Icon (icon link)", required: true %>
      </div>

      <div class="actions">
        <%= f.submit "Save", class:"btn btn-success rounded-0 w-100 position-fixed bottom-0 start-0" %>
      </div>
    <%end%>
  </div>
</section>