<h4 class="position-absolute top-0 end-0 me-3 mt-2 text-white"><%= @category.name %>: $<%= @category.category_total_amount %></h4>
</div>
<section>
  <div class="container">
    <%= render partial: "transaction", collection: @transactions %>
  </div>
  <%= link_to "Add New Transaction", new_category_transaction_path(@category), class:"btn btn-success rounded-0 w-100 position-fixed bottom-0" %>
<section>
